COMPOSE_PROJECT_NAME=history-mapped
FORWARD_NGINX_PORT=8000
FORWARD_WEB_PORT=5173
FORWARD_ADMIN_PORT=5174
FORWARD_DB_PORT=5432
FORWARD_REDIS_PORT=6379
FORWARD_MAILPIT_PORT=8025
POSTGRES_DB=history-mapped
POSTGRES_USER=history-mapped
POSTGRES_PASSWORD=secret
